<div class="container-fluid">
    <div style="float:left">
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <div style="float:left">
        <p>센서 목록</p>
    </div>
</div>

<div id="sensor_grid" >
</div>

<div id="sensor_table" style="height: 500px;overflow: scroll">
</div>